@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@200&display=swap');
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#hero{
  background-image: url('/static/images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.logo{
  display: flex;
  justify-content: center;
  align-content: center;
}
.logo img{
  margin-top: 8rem;
}
.header{
  color:#fff;
}
.header h1{
  padding-top: 1.5rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 0.8rem;
}
.header h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.mouse{
  margin-top: 7rem;
  cursor: pointer;
}
.about-us{
  padding: 5rem 10rem;
  text-align: center;
 
}
    
h2{
  color: #000;
  }
  h2,h3{
  font-family: 'DM Sans', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  }
.about-us p{
  font-family: 'Poppins', sans-serif;
}

#services{
  background-image: url('/static/images/comp.jpg');
  height: 50vh;
  text-align: center;
  padding: 0 10rem;
  
}
.services h3{
  padding: 5rem 0 0;
  color: #fff;

}
.services p{
  color: #fff;
  line-height: 3rem;
  opacity: 1;
}
.heading{
  text-align: center;
  padding: 5rem 0;
}
h6{
  padding: 2rem 0;
  font-family: 'Poppins', sans-serif;
}
.description p{
text-align: center;
}