@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@200&display=swap');
html{
  scroll-behavior: smooth;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#hero{
  background-image: url('../images/hero.jpg');
  }
  #hero,#services,#contact{
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  }
.logo{
  display: flex;
  justify-content: center;
  align-content: center;
  
}

.logo img{
  margin-top: 8rem;
}
.header{
  color:#fff;
}
.header h1{
  padding-top: 1.5rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 0.8rem;
}
.header h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.mouse{
  margin-top: 7rem;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s ease;
}
  .mouse:hover{
    opacity: 1;
    width: 30px;
  }


.about-us{
  padding: 5rem 10rem;
  text-align: center;
 
}
    
h2{
  color: #000;
  }
  h2,h3{
  font-family: 'DM Sans', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  }
.about-us p{
  font-family: 'Poppins', sans-serif;
}

#services{
  background-image: url('../images/comp.jpg');
  height: 50vh;
  padding: 0 10rem;
  
}
.services h3{
  padding: 5rem 0 0;
  color: #fff;

}
.services p{
  color: #fff;
  line-height: 3rem;
  opacity: 1;
}
.heading{
  text-align: center;
  padding: 5rem 0;
}
h6{
  padding: 2rem 0;
  font-family: 'Poppins', sans-serif;
}
#deliverables{
  padding: 3rem 10rem;
  cursor: pointer;
  
}
.description1,.description2,.description3{
  display: none;
  margin-top: -100px;
}
.description1 p{
text-align: center;
}
.description2 p{
  text-align: center;
  }
.description3 p{
    text-align: center;
    }
#portfolio{
  padding: 0 10rem;
  position: relative;
}
.row1 img,.row2 img{
  height: 220px;
  width: 220px;
  margin: 2rem;
  cursor: pointer;
}
.row2{
  margin-top: 5rem;
}

#contact{
background-image: url('../images/message.jpg');
color: #fff;
}
input{
  padding: 1rem 0 0;
  width: 60%;
  border-radius: 5px;
  margin-bottom: 2rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
}
textarea{
  border: 1px solid #fff;
  background-color: transparent;
  resize: none;
  width: 80%;
}
.submit{
  margin: 2rem 0;
  padding: 0.5rem 4rem;
  border: none;
  color:#fff;
  font-family: 'DM Sans', sans-serif;
  background-color: #df8217;
  border-radius: 20px;
  outline: none;
  cursor: pointer;

}
#socials{
  text-align: center;
  margin: 3rem auto;
  cursor: pointer;
 
}

footer{
  margin: 4rem 0;
  opacity: 0.6;
}


.work1,.work2,.work3,.work4,.work5,.work6,.work7,.work8{
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
  top: 45px;
  z-index: 1;
  border: 2px solid #cef0f3;
  background-color: transparent;
  background-color: rgb(218, 214, 214);
  display: none;
}
.work h3{
  color:#fff;
  text-align: center;
  margin: 80px 0;
}